*{
    margin: 0;
    padding: 0;
}

/*--=========================================================================
  FUENTES
============================================================================--*/
@font-face{
    font-family: principal;
    src: url(../fonts/FredokaOne-Regular.ttf);
}
@font-face{
    font-family: subtitulo;
    src: url(../fonts/Gabriola.ttf);
}


/*--=========================================================================
  NAV
============================================================================--*/
header{
    width: 100%;
    left: 0;
    z-index: 99;
}

.cont-nav{
    position: relative;
    max-width: 1200px;
    margin: 10px auto 0 auto;
    padding: 1px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0,0,0,.2);
}

.logo{
    height: 60px;
    padding: 0 20px;
    float: left;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0 10px 0 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    transition: 0.5s ease-out;
    font-family: principal;
}

nav ul li a.active, nav ul li a:hover{
    background: #069370;
    transition: 0.5s ease-out;
    text-decoration: none;
    color: #fff;
}
/*--========================================================================
  FIN NAV  
===========================================================================--*/


/*--=========================================================================
  SLIDER
============================================================================--*/
.container-all img{
    width: 100%;
}

.container-all{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-height: 650px;
    overflow: hidden;
}

.degradado{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000cc,  #0000005e, #00000000);
    z-index: 1;
}

.container-all .itemSlide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
}

.container-all .itemSlide h1{
    position: absolute;
    top: 150px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: principal;
    font-size: 4.5em;
    color: white;
    z-index: 2;
}

.container-all .itemSlide p{
    position: absolute;
    top: 270px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    font-family: subtitulos;
    font-style: italic;
    font-size: 1em;
    color: white;
    z-index: 2;
}

.container-all .btnslide{
    position: absolute;
    top: 370px;
    left: 10%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 3;
    transition: all .3s;
}

.container-all .btnslide:hover{
    background: #53c3e3;
    cursor: pointer;
}

.container-all .btnslide a{
    text-decoration: none;
    color: black;
    font-family: principal;
    font-style: italic;
    cursor: pointer;
}

.container-all .pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.container-all .barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgb(255, 255, 255);
    width: 26px;
    height: 26px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.container-all .barra:hover{
    transform: scale(2);
    border: 2px solid white;
    border-radius: 4px;
}

.container-all .barra img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.container-all .barra:hover img{
    opacity: 1;
    transform: scale(1);
}

.activar{
    background: rgba(5, 226, 226, 0.747);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
    opacity: 1;
}
@keyframes fade{
    from {opacity: .4;}
    to{opacity: 1;}
}

/*--=========================================================================
  FIN SLIDER
============================================================================--*/



/*--=========================================================================
  BIENVENIDA
============================================================================--*/
.welcome{
    margin: 20px 0;
}

.bienvenidaImg img{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.bienvenidaText{
    width: 100%;
    text-align: justify;
    margin: auto;
}

.bienvenidaText h1{
    font-family: principal;
}
/*--=========================================================================
  FIN BIENVENIDA
============================================================================--*/




/*--=========================================================================
  RECOMENDACIONES
============================================================================--*/
.contenedorTarget{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.titulo{
    width: 100%;
}

.titulo a{
    margin-top: 5px;
    font-family: subtitulo;
    font-size: 1.5em;
    color: #008aa2;
    text-decoration: none;
    transition: all 1s ease-out;
    text-align: center;
}

.contenedorTarget .fldsmdfr{
    width: 100%;
    text-align: center;
    padding: 5px 0 15px 0;
}

.contenedorTarget .fldsmdfr a{
    font-family: subtitulo;
    font-size: 1.5em;
    color: #008aa2;
    text-decoration: none;
    transition: all 1s ease-out;
    text-align: center;
}

.titulo a:hover{
    color: #000000;
}

.titulo .contitle img{
    width: 150px;
    height: 14px;
    background: #008aa2;
    margin: 15px 2px 0 15px;
}

.titulo .contitle h2{
    font-family: principal;
    margin-left: 15px;
}


.targets{
    width: 100%;
    height: auto;
}

.targets figure{
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

.targets figure img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 5000ms ease-out;
}

.targets figure .capa{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0));
    transition: all 500ms ease-out;
    text-align: center;
}

.targets figure:hover > .capa{
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: rgb(0, 0, 0);
    text-align: center;
}

.targets figure .capa .tituloTarget{
    width: 50%;
    color: white;
    font-family: principal;
    margin-top: 10px;
    transition: all 500ms ease-out;
}

.targets figure .capa:hover > .tituloTarget{
    margin: 20px 20%;
}

.targets figure .capa .descripcion{
    position: absolute;
    color: white;
    width: 90%;
    font-family: subtitulo;
    margin: 0 auto;
    transition: all 500ms ease-out;
}

.targets figure .capa .descripcion a{
    font-size: 25px;
    color: #34c3d6;
    transition: all 300ms ease-out;
}

.targets figure .capa .descripcion a:hover{
    font-size: 30px;
    color: rgb(154, 206, 212);
    text-decoration: none;
}

.bxslider .tartgetslider img{
    width: 100%;
}

.bxslider .tartgetslider .capa .tituloTarget{
    width: 100%;
    font-family: principal;
    margin-top: 10px;
}

.bxslider .tartgetslider .capa .tituloTarget a{
    width: 100px;
    text-align: center;
    height: 30px;
    background:#34c3d6;
    margin-top: -5px;
    color: rgb(0, 0, 0);
    font-family: principal;
    text-decoration: none;
    transition: all .2s ease-out;
}

.bxslider .tartgetslider .capa .tituloTarget a:hover{
    color: rgb(231, 219, 219);
    background:#053e46;
}

.bxslider .tartgetslider .descripcion{
    font-family: subtitulo;
    padding: 5px;
    font-size: 1.2em;
}


/*--=========================================================================
  CONTACTO FOOTER
============================================================================--*/
.contfoot{
    width: 100%;
    background: rgb(13, 14, 15);
}

.part1{
    width: 100%;
    margin: 30px 0 20px 0;
}

.part1 .texto{
    width: 100%;
    color: #fff;
    font-size: .9em;
    text-align: justify;
}

.part1 .texto h1{
    width: 100%;
    font-family: principal;
    margin-bottom: 20px;
    text-align: start;
}

.part1 .boton{
    width: 100%;
}

.part1 .boton a{
    width: auto;
    text-align: center;
    padding: 10px 25px;
    background: rgb(36, 201, 165);
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease-out;
}

.part1 .boton a:hover{
    background: rgb(18, 19, 20);
    color:rgb(36, 201, 165);
}



/*--=========================================================================
  FOOTER PART2
============================================================================--*/
.part2{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.part2 .ima{
    width: 100%;
}

.part2 .ima img{
    width: 100%;
    cursor: pointer;
    max-width: 35px;
    margin-left: 10px;
    opacity: .5;
    transition: all .3s ease-in;
}

.part2 .ima img:hover{
    opacity: 1;
}





/*--=========================================================================
////////////////////////// CASA DETALLES.HTML /////////////////////////////////
============================================================================--*/

/*--=========================================================================
  IMAGENES
============================================================================--*/

.contgaleria{
    display: grid;
    margin-top: 85px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
}

.contgaleria .galleryitems img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.contgaleria .galleryitems:nth-child(1){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.contgaleria .galleryitemsocult{
    display: none;
}

/*--=========================================================================
  INFORMACION
============================================================================--*/
.continfo{
    margin-top: 30px;
    height: auto;
}

.info{
    width: 100%;
        height: auto;
        background: rgb(255, 255, 255);
}

.info .titulo h1, h3{
    font-family: principal;
}

.info .descripcion{
    text-align: justify;
    font-size: .9em;
    margin-top: 30px;
}

.info .separador{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #eeeeee;
    margin: 10px 0 30px 0;
}

.info .separador2{
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background: rgb(83, 196, 190);
    margin: 0 0 10px 0;
}

.info .general .itemdesc{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.info .general .itemdesc img{
    height: 30px;
    margin-right: 15px;
}

.info .general .itemdesc p{
    margin-top: 10px;
}





.infoanfi{
    width: 100%;
    height: auto;
}

.infoanfi .info{
    position: sticky;
    top: 100px;
    margin-bottom: 30px;
    width: 100%;
    border: 3px solid #eee;
}

.infoanfi .info img{
    width: 80px;
    border-radius: 50px;
    margin: 30px auto 15px auto;
}

.infoanfi .info p{
    width: 100%;
    text-align: center;
}

.infoanfi .info .datos{
    width: 100%;
    margin: 10px auto;
}















/*--=========================================================================
  768
============================================================================--*/
@media (max-width: 768px){

    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
    }
    .menu-toggle:before{
        content:'\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content:'\f00d';
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
    nav.active ul li a{
        margin: 0;
    }

    .container-all .itemSlide h1{
        position: absolute;
        top: 90px;
        left: 5%;
        font-size: 2em;
    }
    
    .container-all .itemSlide p{
        position: absolute;
        top: 140px;
        left: 5%;
        width: 45%;
        font-size: .8em;
    }

    .container-all .btnslide{
        position: absolute;
        top: 140px;
        left: 70%;
        width: 100px;
        font-size: .7em;
        padding: 5px;
        cursor: pointer;
    }

    .container-all .btnslide a{
        cursor: pointer;
    }

    .part1 .texto h1{
        width: 100%;
        font-family: principal;
        margin-bottom: 20px;
        text-align: center;
    }


    /*--***************************************
    CASA DETALLES.HTML 
    *********************************************--*/
    .contgaleria{
        display: grid;
        margin-top: 85px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 100px;
        gap: 5px;
    }

    .contgaleria .galleryitems img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .contgaleria .galleryitems:nth-child(1){
        grid-column-start: span 4;
        grid-row-start: span 3;
    }

}

/*--=========================================================================
  450
============================================================================--*/

@media (max-width: 450px){
    .black{
        background: #000000;
    }

    .container-all{
        position: relative;
        margin: 80px auto 0 auto;
        width: 100%;
        max-height: 650px;
        overflow: hidden;
    }
    
    .container-all .itemSlide h1{
        position: absolute;
        top: 30px;
        left: 5%;
        font-size: 2em;
    }
    
    .container-all .itemSlide p{
        display: none;
    }

    .container-all .btnslide{
        top: 100px;
        height: 30px;
        left: 5%;
        width: 100px;
        font-size: .7em;
        padding: 5px;
    }


    /*--***************************************
    CASA DETALLES.HTML 
    *********************************************--*/
    .contgaleria{
        display: grid;
        margin-top: 85px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 100px;
        gap: 5px;
    }
    
    .contgaleria .galleryitems img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .contgaleria .galleryitems:nth-child(1){
        grid-column-start: span 4;
        grid-row-start: span 2;
    }

    
}


