<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa</title>
    <link rel="stylesheet" href="../css/css-b/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/jquery.bxslider.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="container-fluid">

        <!--=====================================
		NAV
		======================================-->

        <header class="col-md-12 position-fixed">

            <div class="cont-nav">
  
                <a href="../index.html"><img class="logo" src="../images/utileria/logo.png" alt=""></a>
                
                <div class="menu-toggle"></div>

                <nav>
                    <ul>
                        <li><a href="#" class="active">Nosotros</a></li>
                        <li><a href="#">Casas</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>

        </header>
        <!--====  FIN NAV  ====-->

        
        <!--=====================================
		IMAGENES
        ======================================-->
        <div class="container">
            <div class="row">
                <div class="contgaleria">

                    <div class="galleryitems">
                        <img src="../images/casas/cuarto1/principal.jpg" alt="">
                    </div>
                    <div class="galleryitems">
                        <img src="../images/casas/cuarto1/secundario1.jpg" alt="">
                    </div>
                    <div class="galleryitems">
                        <img src="../images/casas/cuarto1/secundario2.jpg" alt="">
                    </div>
                    <div class="galleryitems">
                        <img src="../images/casas/cuarto1/secundario2.jpg" alt="">
                    </div>
                    <div class="galleryitems">
                        <img src="../images/casas/cuarto1/secundario1.jpg" alt="">
                    </div>
                    <div class="galleryitemsocult">
                        <img src="../images/casas/cuarto1/secundario2.jpg" alt="">
                    </div>
                        
                </div>
            </div>
            <!--====  IMAGENES  ====-->
            
        </div>


        <!--=====================================
        DESCRIPCION
        ======================================-->
        <div class="container">
            <div class="row continfo d-flex justify-content-between">

                <div class="info flex-column col-lg-7">
                    <div class="titulo justify-content-between align-items-center">
                        <h1>Habitacion compartida</h1>
                        <h3>$1500/mes</h3>
                    </div>
                    <br>

                    <div class="continicio">
                        <h4>Descripcion General:</h4>
                        <div class="separador2"></div>
                        <p>
                            Lugar ideal para estudiar y descansar, cómodo y acogedor, ubicado cerca de la facultad de Computacion.
                        </p>
                    </div>
                    <div class="general">
                        
                        <div class="itemdesc">
                            <img src="../images/utileria/clock.svg" alt="">
                            <p>a 10 minutos de CU</p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images/utileria/genero.svg" alt="">
                            <p>Solo Mujeres/Hombres/Ambos</p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images//utileria/anfitrion.svg" alt="">
                            <p>Anfitrion: fuera de la propiedad </p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images/utileria/baño.svg" alt="">
                            <p>Baño: Compartido </p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images/utileria/cocina.svg" alt="">
                            <p>Cocina: Compartida </p>
                        </div>
                    </div>
                    <div class="separador"></div>


                    <div class="continicio">
                        <h4>Servicios</h4>
                        <div class="separador2"></div>
                        <p>
                            La habitacion cuenta con cama individual, con un escritorio. Los servicios se pagan mensualmente entre todas las personas que viven dentro del inmueble.
                        </p>
                    </div>
                    <div class="general">
                        
                        <div class="itemdesc">
                            <img src="../images/utileria/clock.svg" alt="">
                            <p>Cama: Si</p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images/utileria/genero.svg" alt="">
                            <p>Escritorio: si/no</p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images//utileria/anfitrion.svg" alt="">
                            <p>Ropero/Buro: Si/no</p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images//utileria/anfitrion.svg" alt="">
                            <p>Internet: si/no</p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images//utileria/anfitrion.svg" alt="">
                            <p>Luz: si/no</p>
                        </div>
                        <div class="itemdesc">
                            <img src="../images//utileria/anfitrion.svg" alt="">
                            <p>Gas: si/no</p>
                        </div>
                    </div>
                    <div class="separador"></div>


                    
                </div>

                <div class="infoanfi col-lg-4">
                    <div class="info d-flex flex-column">
                        <img src="../images/casas/cuarto1/usuario.JPG" alt="">
                        <p>Luis Pablo Canul García</p>

                        <div class="datos flex-column col-12">
                            <div class="texto d-flex">
                                <h5 class="col-4 col-lg-3">Correo: </h5>
                                <p class="col-8 col-lg-8">wichocanul07@gmail.com</p>
                            </div>
                            <div class="texto d-flex">
                                <h5 class="col-4">Telefono: </h5>
                                <p class="col-8">7971189099</p>
                            </div>

                            <div class="texto d-flex">
                                <p class="col-12">Yo ya encontre mi casa. ¿Y tu?</p>
                            </div>
                        </div>

                    </div>  
                    
                </div>




                <div class="row col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30160.30731242719!2d-98.18509186983641!3d19.105970647070897!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc3d5a440f069%3A0xe69c0592d68b0305!2zMTnCsDA2JzExLjQiTiA5OMKwMTAnNTAuNiJX!5e0!3m2!1sen!2smx!4v1603260116528!5m2!1sen!2smx" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

            </div>

        </div>



        <div class="row black">
            <div class="contfoot">
                <footer class="container">
                    

                    <div class="row part2 col-12">
                        <div class="ima col-12 d-flex justify-content-center justify-content-lg-start">
                            <a href="#"><img src="../images/utileria/facebook.svg" alt=""></a>
                            <img src="../images/utileria/instagram.svg" alt="">
                            <img src="../images/utileria/whatsapp.svg" alt="">
                        </div>
                    </div>
                </footer>
            </div>
        </div>




    
    </div>









    <script src="../js/js-b/bootstrap.min.js"></script>
    <script src="../js/js-b/jquery-3.5.1.min.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/jquery.bxslider.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
</body>
</html>